.signinForm {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.homePage{
    color:black;
    text-decoration: none;
    margin-left: 100px;
    /* font-weight: 700; */
    cursor: pointer;
    font-size: .7rem;
    margin-top: 10px;
    justify-items: center !important;
    justify-content: center !important;
    align-items: center !important;
}
.homePage a:hover{
    text-decoration: none;
    color:#ff4584;
}
.signinForm .imgBox {
    position: relative;
    width: 70%;
    height: 100%;
}

.signinForm .imgBox::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(225deg, #e91e63, #03a9f4); */
    z-index: 1;
    mix-blend-mode: screen;
}

.signinForm .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signinForm .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.signinForm .contentBox .formBox {
    width: 80%;
}

.signinForm .contentBox .formBox h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4585;
    display: inline-block;
    letter-spacing: 1px;
}

.signinForm .contentBox .formBox .inputBox {
    margin-bottom: 20px;
}

.signinForm .contentBox .formBox .inputBox span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

.signinForm .contentBox .formBox .inputBox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.signinForm .contentBox .formBox .inputBox input[type='submit'] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;

}

.signinForm .contentBox .formBox .inputBox input[type='submit']:hover {
    background: #f53677;
}

.signinForm .contentBox .formBox .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

.signinForm .contentBox .formBox .inputBox p {
    color: #607d8b;
}

.signinForm .contentBox .formBox .inputBox p a {
    color: #ff4585;
}

.signinForm .contentBox .formBox h3 {
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
}

.signinForm .contentBox .formBox .iconSignin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinForm .contentBox .formBox .iconSignin li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
}

.signinForm .contentBox .formBox .iconSignin li:hover {
    background-color: #ff4584;
}

.signinForm .contentBox .formBox .iconSignin li i {
    transform: scale(0.5);
    filter: invert(1);
}

@media (max-width: 768px) {
    .signinForm .imgBox {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }   
    .signinForm .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .signinForm .contentBox  .formBox{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
    .signinForm .contentBox .formBox h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }

}