@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ROOT VARIABLE */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables{
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* * {
 
}

html {
  font-size: 14px;
} */

/* body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
} */
/* 
 */

 .container {
  margin: 0;
  padding:0 10px;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size:12px;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

/* main */


main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.seal span {
  background: var(--color-danger);
}

main .insights > div.total span {
  background: var(--color-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}


/* main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .qr svg circle {
  stroke-dasharray: -30;
  stroke-dashoffset: 200;
}

main .insights .seal svg circle {
  stroke-dasharray: 20;
  stroke-dashoffset: 80;
}

main .insights .total svg circle {
  stroke-dasharray: 35;
  stroke-dashoffset: 110;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* date */
main .date {
  display: inline-block;
  border-radius: var(--border-radius-1);
  /* margin-top: 1rem; */
  /* padding: 0.5rem 1.6 rem; */
  width:100%;
}

main .date input[type="date"] {
  background: var(--color-white);
  color: var(--color-dark);
  margin-right:1rem;
}

main .date > div {
  background:var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  /* margin-top: 2rem; */
  transition: all 300ms ease;
  box-shadow: var(--box-shadow);
}

main .date > div:hover {
  box-shadow: none;
}

main .date label{
  margin-right:1rem;
  font-weight:bold;
}

.tanggal{
  display:flex;
  margin-top: 2rem;
  padding: var(--card-padding);
}

main .date .btn{
  margin-left: 4rem;
  font-size : 14px;
  font-weight: bold;
  background: var(--color-primary);
  width: 160px;
  padding: 6px;
  text-align:center;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: (--box-shadow);
  color: var(--color-dark);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
  box-shadow: (--box-shadow);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* recent orders */
main .recent_orders {
  margin-top: 1rem;
  height: 100%;
}

main .recent_orders h2 {
  margin-bottom: 0.8rem;
}

main .recent_orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent_orders table:hover{
    box-shadow:none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main table thead {
  font-size:medium;
}

/* abc */
.abc{
  display:flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* search_table */
.search_table{
  position:relative;
  margin-bottom:0.8rem;
  width:380px;
  height:30px;
  background: var(--color-white);
  border-radius: 60px;
  transition: 0.5s;
  overflow: hidden;
}

/* .search_table.active{
  width: 360px;
} */

.search_table .icon{
  position:absolute;
  top:0;
  left:0;
  width:30px;
  height:30px;
  background: var(--color-white);
  border-radius:60px;
  display:flex;
  justify-content:center;
  align-items: center;
  z-index: 1000;
  cursor:pointer;
}

.search_table .icon::before{
  content:'';
  position:absolute;
  width:11px;
  height:11px;
  border: 3px solid #287dfc !important;
  border-radius:50%;
  transform:translate(-4px,-4px);
}

.search_table .icon::after{
  content:'';
  position:absolute;
  width:3px;
  height:12px;
  background: #287dfc;
  transform:translate(6px,6px) rotate(315deg);
}

.search_table .input{
  position:relative;
  width: 300px;
  height: 30px;
  left: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search_table .input input{
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  border:none;
  outline:none;
  font-size: 14px;
  padding: 10px 0;
}

.clear{
  position:absolute;
  top:25%;
  transform: translateY(25%);
  width: 11px;
  height:11px;
  right:15px;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items: center;
}

.clear::before{
  position:absolute;
  content:'';
  width:1px;
  height:11px;
  background:#999;
  transform:rotate(45deg);
}
.clear::after{
  position:absolute;
  content:'';
  width:1px;
  height:11px;
  background:#999;
  transform:rotate(315deg);
}

/* pagination */
.pagination{
  padding: var(--card-padding);
  margin-top: 2rem;
  display:flex;
  justify-content:center;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background: var(--color-primary);
  color: white;
}

.pagination a:hover:not(.active) {background: #ddd;}

/* sort */

.sort{
  /* padding: var(--card-padding); */
  background: var(--color-white);
  margin-bottom: 20px;
}


/* right */
.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.right .top button{
    /* display:none; */
}

.right .theme-toggler{
    background:var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* media queries */
@media screen and (max-width: 1200px){
  .container{
    width: 94%;
    grid-template-columns: 7rem auto;
  }

  aside .logo h2{
    display: none;
  }

  aside .sidebar h3{
    display:none;
  }

  aside .sidebar a{
    width: 5.6rem;
  }

  aside .sidebar a:last-child{
    position:relative;
    margin-top: 1.8rem;
  }

  main .insights{
    grid-template-columns: 1fr;
    gap:0;
  }

  main .recent_orders{
    width:94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .recent_orders table{
    width: 83vw;
  }
}


/* media queries */
@media screen and (max-width: 768px){
  .container{
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside{
    position: fixed;
    left: 0;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100hv;
    padding-right: var(--card-padding);
    display:none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to{
      left:0;
    }
  }

  aside .logo{
    margin-left: 1rem;
  }

  aside .logo h2{
    display: inline;
  }

  aside .sidebar h3{
    display: inline;
  }

  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child{
    position:absolute;
    bottom: 5rem;
  }

  aside .close{
    display: inline-block;
    cursor: pointer;
  }

  main{
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .insights > div {
    width: 100%;
  }

  main .recent_orders{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent_orders table{
    width: 100%;
    margin: 0;
  }


  .right{
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top{
    position:fixed;
    top:0;
    left:0;
    align-items:center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler{
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info{
    display:none;
  }

  .right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .top button span{
    font-size: 2rem;
  }
}