.bannerImg img {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes slidein {
    from {
        margin-top: 30%;

        width: 300%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}