.Icon{
    width:18px !important;
    color: brown !important;
    height:18px !important;
}
.quantity span{ 
    font-size: 0.5rem !important;
}
.containerCategory{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}