@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Pattaya&display=swap');
.container{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.body{
    width: 100%;
    background-color: rgb(233, 234, 236);
    /* height: 100vh; */
}
/* .dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
} */
.oulet{
    padding: 10px;
    height:80vh;
}
.pagination{
    float: right;
}