@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Pattaya&display=swap');
.container{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.body{
    width: 100%;
    box-shadow: none !important;
}

.oulet{
    padding: 10px;
    box-shadow: none !important;

    height:auto;
}
.pagination{
    box-shadow: none !important;

    float: right;
}
.containerLayout{
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
    justify-content: space-between;
}