.addProduct input{
    border-radius:2px;
    border: none;
}
.addProduct select{
    height: 38px;
    border: none;
}
.addProduct textarea{
    border-radius: 2px;
    border: none;

}
.addProduct{
    margin-left: 20px;
}
.imageShow{
    width: 150px;
    height: 150px;
}
.displayImage{
    display:inline-flex;
}
.displayImage img{
    /* margin-left: 5px; */
    margin: 5px;
}
.btnAdd{
    margin-left:0;
}